:root {
  --bg-primary: #201e1e;
  --icon: #ffffff;
  --hover: #d9d9d9;
  --second: #dfecf2;
}

* {
  box-sizing: border-box;
}

.bg-white:hover {
  background-color: #e0e0e0 !important;
}

.bg-primary:hover {
  background-color: #0056b3 !important;
}

.bg-danger:hover {
  background-color: #c82333 !important;
}

.main {
  height: 100vh;
}

/*aside */
aside {
  background-color: var(--bg-primary);
  height: 100vh;
  top: 0;
  left: 0;
  width: 210px;
  transition: 0.3s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

/* Hide */
aside.hide {
  width: 65px;
}

aside.hide #arrow-button {
  right: -22%;
}

#arrow-button {
  color: var(--bg-primary);
  background-color: var(--hover);
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: -7%;
  transition: 0.3s;
  z-index: 1;
}

.rotate-180 {
  transform: rotate(180deg);
}

aside a.close-btn {
  display: none;
}

aside a {
  position: relative;
}

aside a.menu span {
  left: 3rem;
  top: 8px;
}

aside.hide a.logout {
  right: 0;
  left: 0;
}

aside.hide a.menu span {
  display: none;
}

aside.hide a.logout span {
  display: none;
}

a.menu {
  color: var(--icon) !important;
  transition: 0.3s;
}

a.logout {
  transition: 0.3s;
}

a.menu:hover {
  color: var(--bg-primary) !important;
  background-color: var(--hover);
}

a.logout {
  bottom: 3%;
}
/* End Hide */
/* End Aside */

/* Content */
.content {
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}
/* End Content */

/* Navbar */
.popup {
  top: 100%;
  right: 0;
  width: 250px;
  display: none;
  background-color: var(--second) !important;
  z-index: 1;
  transition: max-height 0.3s;
}

i#hamburger-menu {
  display: none !important;
}

.profile {
  width: 150px;
  background-color: var(--second);
}

.profile i {
  width: 30px;
  height: 30px;
  /* padding: 0.5rem; */
}

.header p {
  font-size: 10px;
}

label.checkbox-label {
  width: 65px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  display: block;
  border: 4px solid #000;
  transition: 0.3s;
  cursor: pointer;
}

label.checkbox-label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: -2px;
  left: 0;
  background: white;
  border-radius: 25px;
  transition: 0.3s;
}

.bi-sun-fill {
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-40%);
}

.bi-moon-stars-fill {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-40%);
}

input.switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

input.switch:checked + label.checkbox-label {
  background: #000;
}

input.switch:checked + label.checkbox-label:after {
  right: 0;
  transform: translateX(36px);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.user-info {
  flex-direction: column;
}

.open-profil {
  display: block;
}

/* End Navbar */

/* Main Content */
.main-content {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.info-stok {
  flex-wrap: wrap;
}

.cards {
  background-color: var(--second) !important;
}

.table > :not(caption) > * > * {
  background-color: transparent !important;
  border-collapse: collapse !important;
}
/* End Main Content */

/* Laporan */
input.search {
  background-color: var(--hover) !important;
  outline: none !important;
  box-shadow: none !important;
}

span.search {
  background-color: var(--hover) !important;
  outline: none !important;
}
/* End Laporan */

/* Login */
input.login {
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
/* End Login */

@media (max-width: 768px) {
  html {
    font-size: 65% !important;
  }

  aside {
    width: 65px;
  }

  aside.hide {
    width: 210px;
  }

  aside a.menu span {
    display: none;
  }

  aside a.logout span {
    display: none;
  }

  aside.hide a.menu span {
    display: inline-block;
  }

  aside.hide a.logout span {
    display: inline-block;
  }

  aside.hide #arrow-button {
    right: -7%;
  }

  #arrow-button {
    right: -22%;
  }

  .cards {
    width: 100% !important;
  }

  .container-fluid {
    padding: 0px !important;
  }

  .data-stok {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 60%;
  }

  .main {
    flex-direction: column;
    position: relative;
  }

  .container-fluid {
    padding: 0px !important;
  }

  aside {
    display: flex;
    width: 100%;
    height: fit-content !important;
    padding-bottom: 2rem !important;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px !important ;
    border-bottom-right-radius: 10px !important;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 3;
  }

  aside.open-navigation {
    top: 0 !important;
  }

  aside span.logo {
    display: none !important;
  }

  aside a.menu {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0 !important;
  }

  aside a.menu span {
    display: block;
    position: relative !important;
    left: 8px;
    top: 0;
  }

  aside a.close-btn {
    display: block;
    margin-bottom: 1.5rem;
  }

  aside a.logout {
    display: none !important ;
  }

  .list-group {
    width: 100% !important;
    padding: 0 1rem !important;
  }

  .profile {
    width: 35px !important;
  }

  label.checkbox-label,
  input.switch {
    display: none;
  }

  i#hamburger-menu {
    display: block !important;
    margin-right: 1rem !important;
    cursor: pointer;
  }

  .navbar {
    position: fixed !important;
    z-index: 1;
    background: white;
    width: 100%;
    top: 0;
    left: 0;
  }

  .main-content {
    padding-top: 1rem !important;
  }

  svg {
    width: 50%;
    height: 50%;
  }
}
